{% extends "layout.html" %}

    {% block title %}Dashboard{% endblock %}
    {% block main %}
        <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FINalyze</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link-active" aria-current="page" href="{{ url_for('index') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('analysis')  }}">Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('transactions') }}">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload') }}">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('delete') }}">Delete Account</a>
                </li>

            </div>
            </div>
        </div>
        </nav>

        <div class="grid-container">
            <div class="greeting">Welcome to Finalyze, {{ name }}!</div>
            <div class="grid-card">
                <div class="grid-card-title">
                    Latest Analysis Overview
                </div>
                <div class="grid-card-text">
                    Total withdrawals:
                    {% if withdrawal_sum %}
                        <span class="dash-stat">{{ withdrawal_sum | money_format }}</span> as of {{ date }}
                    {% else %}
                        <span class="dash-stat">Please analyse the individual withdrawal stats in the analysis page first</span>
                    {% endif %}
                    <br>
                    Daily Average:
                    {% if daily_avg %}
                        <span class="dash-stat">{{ daily_avg | money_format }}</span>
                    {% endif %}
                    <br>
                    Compared to previous month:
                    {% if percentage_change is not none %}
                        <span class="dash-stat">{{ percentage_change | percentage_format }}</span>
                    {% else %}
                        <span class="dash-stat">{{ percentage_message }}</span>
                    {% endif %}
                </div>

            </div>
            <div class="grid-card">
                <div class="grid-card-title">
                    Balance history
                </div>
                <div class="grid-card-text">

                    {% if balance_history %}
                    <table class="balance-history-table">
                        <tr>
                            <th>Date</th>
                            <th>Balance</th>
                        </tr>

                    {% for item in balance_history %}
                        <tr>
                            <td class="dash-stat">{{ item["date"] }}</td>
                            <td class="dash-stat">{{ item["balance"] | money_format}}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    {% else %}
                        <div class="dash-start">Please analyse the statement first in the analysis page</div>
                {% endif %}
                </div>


            </div>


            <div class="grid-card">
                <div class="grid-card-title">
                    Transactions
                </div>
                <form action="{{ url_for('transactions') }}">
                    <button class="grid-button">View Transactions</button>
                </form>

            </div>


    {% endblock %}
