{% extends "layout2.html" %}

{% block title %}Intro{% endblock %}

{% block main %}

    <div class="intro-container">
        <img class="intro-background" src="/static/app_logo.png">
        <div class="intro-grid">
            <span style="font-size: 2rem">A CS50 Final Project by Reuben Seet</span>

                    <div class="intro-card-para">
                    <div class="intro-card-body">
                        I created FINalyze as a way to apply the programming skills I developed not only during CS50, but also through my self-directed exploration into data visualization and manipulation. In this project, I leveraged Python libraries such as Matplotlib and Pandas, and used Flask to build the application’s backend. The system follows an MVC-inspired structure, with Flask and Python serving as the controller, SQL as the data model, and HTML/CSS forming the user interface layer.

                    </div>

                    </div>
                    <div style="display: flex; gap: 50px;">
                    <form action="/login" method="get">
                        <button class="btn">Log In</button>
                    </form>
                    <form action="/register" method="get">
                        <button class="btn">Register</button>
                    </form>
                    </div>



        </div>

    </div>






{% endblock %}
