{% extends "layout2.html" %}

{% block title %}{% endblock %}

{% block main %}
    <div class="card-container">

        <div class="card-register">

        <div class="card-body">
            <h5 class="card-title">Register</h5>
            <form action="/register" method="post">
                <input class="user-id-input-register" type="text" placeholder="User ID" name="user_id" autocomplete="off" required autofocus>
                <input class="user-pass-input" type="password" placeholder="Password" name="password" autocomplete="off" required>
                <input class="user-pass-input" type="password" placeholder="Confirm Password" name="confirm_pass" autocomplete="off" required>
                <br>
                <button class="btn-register">Register</button>
            </form>
        </div>
        </div>
    </div>
{% endblock %}







    <div class="register-container">
        <form action="/register" method="post">
            <input type="text" placeholder="user_id" autofocus required autocomplete="off" name="user_id">
            <input type="text" placeholder="password" name="password" required autocomplete="off">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>
